<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>

    <%= if assigns[:meta_attrs], do: meta_tags(assigns[:meta_attrs]) %>
    <%= if assigns[:meta_image_url], do: raw(meta_image(assigns[:meta_image_url])) %>
    <%= if assigns[:podcast], do: rss_feed(assigns[:podcast]) %>

    <%= live_title_tag(assigns[:page_title] || "Kapselistudio") %>

    <link
      phx-track-static
      rel="stylesheet"
      href={Routes.static_path(@conn, "/assets/public.css")}
    />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
    <script
      defer
      phx-track-static
      type="module"
      src={Routes.static_path(@conn, "/podcast-player.js")}
    >
    </script>
    <style>
      body {
        font-family: "Montserrat", sans-serif;
      }
    </style>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
